*{
    padding:0px;
    margin:0px;
}
body{
    // display: flex;
    // justify-content: center;
    // align-content: center;
    // min-height: 100vh;
}
section.full{
    height:100vh;
    width:100vw;
}
section.landing{
    height:100vh;
    width:100vw;
    background:rgba(10,10,10,0.8);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
div.image{
    position: absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    transition:clip-path 1s;
}
.one{
    background:rgba(10,10,10,0.8);
    clip-path: polygon(0 0,55% 0,20% 100%,0% 100%);
}
.two{
    background:rgba(10,10,10,0.8);
    clip-path: polygon(55% 0, 100% 0,45% 100%,20% 100%);
}
.three{
    background:rgba(10,10,10,0.8);
    clip-path: polygon(100% 0%,100% 0,100% 100%,45% 100%);
}
div.message{
    display: none;
    opacity: 0;
}
div.image:hover div.message{
    opacity: 1;
    display: block;
    padding:10px;
    background:white;
    position: relative;
    width:100%;
    font-size: 30px;
    transition:1s;
    animation: 1s show 0s ease-in-out;
}
section.landing:hover div.image{
    clip-path: polygon(100% 0,100% 0,100% 100%,100% 100%);
}
section.landing div.image:hover{
    clip-path: polygon(0 0,100% 0,100% 100%,0% 100%);
}

@keyframes show{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}