* {
  padding: 0px;
  margin: 0px;
}

div::-webkit-scrollbar {
  width: 100px;
  height: 7px;
}

div::-webkit-scrollbar-thumb {
  background: blue;
  border-radius: 10px;
}

div::-webkit-scrollbar-track {
  background: transparent;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
}

a {
  color: currentColor;
}

div.content {
  width: 1000px;
  max-width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

ul.links {
  list-style-type: none;
}

ul.links a, ul.links li {
  display: inline-block;
  margin: 0px 10px;
}

header {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 10px;
  background: rgba(5, 5, 100, 0.9);
}

header div.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
}

section.full {
  height: 100vh;
  width: 100vw;
}

div.slides {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 90vh;
  width: 100vw;
  overflow-x: auto;
  scroll-behavior: smooth;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
}

div.slides :nth-child(odd) div.slide {
  background: lightseagreen;
}

div.slide {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  scroll-snap-align: start;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.dual {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

div.links {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
}

div.links a div {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: blue;
  margin: 0px 10px;
}

div.card::before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: rgba(255, 255, 255, 0.5);
  -webkit-filter: blur(5px);
          filter: blur(5px);
  -webkit-box-shadow: 1px 1px 10px 10px rgba(10, 10, 10, 0.8);
          box-shadow: 1px 1px 10px 10px rgba(10, 10, 10, 0.8);
}

div.card {
  position: relative;
  max-height: 400px;
  width: 400px;
  z-index: 9;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

div.card h1, div.card p, div.card button {
  position: relative;
  z-index: 2;
  padding: 10px;
  text-align: center;
}

div.card h1 {
  color: blue;
}

div.card button {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: blue;
  border: 1px solid transparent;
  border-radius: 20px;
  color: white;
  width: 100px;
}

img.card_image {
  position: relative;
  max-height: 400px;
  width: auto;
}

.center_v {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.center_h {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

ul.reviews {
  position: relative;
  list-style-type: none;
  overflow-x: scroll;
}

ul.reviews div {
  padding: 10px;
}

ul.reviews li.card {
  padding: 10px;
  display: inline-block;
  margin: 10px;
  max-width: 100px;
  min-height: 200px;
  max-height: 300px;
  text-align: center;
}

ul.reviews div.title {
  font-weight: bolder;
}

ul.reviews div.profile {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: lightseagreen;
}
/*# sourceMappingURL=main.css.map */