@import '../../global.scss';

header.landing{
    width:100vw;
    height:100vh;
    background: lighten(lightseagreen,50%);
}
header.landing .container{
    position: relative;
    text-align: center;
    overflow: hidden;
}
div#slides{
    position: relative;
    width:100%;
    height: 75vh;
}
div.slide{
    position: relative;
    @include center_v;
    width:100%;
    display: grid;
    gap: 4px;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}
div.slide img{
    position: relative;
    width:100%;
    height:auto;
}
p.big_par{
    font-size: 1.4em;
    margin-top:20px;
}
