<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VueJS</title>
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/all.min.css">
    <script src="./js/vue.js"></script>
</head>
<body>
    <nav>
        <div class="container">
            <div class="barner">Hotel Vue</div>
            <div class="links">
                <ul class="horizontal links">
                    <a href="#"><li>Home <span></span></li></a>
                    <a href="#"><li>Blog <span></span></li></a>
                    <a href="#"><li>Reviews <span></span></li></a>
                </ul>
            </div>
        </div>
    </nav>
    <header class="landing">
        <div class="container" style="background-image:url(./images/sun.jpg);">
            <div class="slides i_scroll" id="slides">
                <div class="slide" v-for="slide in slides" v-bind:id="slide.image">
                    <div class="dual_res">
                        <div class="text">{{slide.text_content}}</div>
                        <img class="s_image" v-bind:src="slide.image"/>
                    </div>
                </div>
            </div>
            <div class="controlls">
            </div>
        </div>
    </header>
    <section class="full">
        <div class="container middle">
            <h3 class="title"><i class="num">#</i> Services</h3>
            <p>Expedita suscipit eum quasi dolore, inventore maiores earum nihil magnam aliquam soluta</p>
        </div>
    </section>
    <section class="full">
        <div class="container middle">
            <h3 class="title"><i class="num">#</i> Packages</h3>
            <div class="cards">
                <!--
                <div class="card">
                    <h3 class="card_title">Title</h3>
                    <i class="icon"></i>
                </div>
                -->
            </div>
        </div>
    </section>
    <section class="full">
        <div class="container middle">
            <h3 class="title"><i class="num">#</i> Client Reviews</h3>
            <div class="reviews" id="reviews">
                <div class="review" v-for="review in reviews">
                    <i class="fa fa-user"></i>
                    <h3 class="title">{{review.username}}</h3>
                    <p>{{review.review}}</p>
                </div>
            </div>
        </div>
    </section>
    <section class="contacts">
        <div class="container middle dual_res">
            <div>
                <h3>Contacts</h3>
                <table>
                    <tr><td><i class="fa fa-phone"></i></td><td>+001-356-466</td></tr>
                    <tr><td><i class="fab fa-facebook-f"></i></td><td>@user</td></tr>
                    <tr><td><i class="fab fa-twitter"></i></td><td>@user_name</td></tr>
                    <tr><td><i class="fab fa-instagram"></i></td><td>@user_inst</td></tr>
                </table>
            </div>
            <div>
                <h3>Location</h3>
                <table>
                    <tr><td><i class="fa fa-phone"></i></td><td>+001-356-466</td></tr>
                    <tr><td><i class="fab fa-facebook-f"></i></td><td>@user</td></tr>
                    <tr><td><i class="fab fa-twitter"></i></td><td>@user_name</td></tr>
                    <tr><td><i class="fab fa-instagram"></i></td><td>@user_inst</td></tr>
                </table>
            </div>
        </div>
    </section>
</body>
<script src="./js/index.js"></script>
</html>