//z-index
$notification:11;
$nav_bar:10;
$side_nav:9;
$cover:8;
$quick_action:7;
$content:0;

//colors
    //primary_color
    //accent_color
    //highlight_color
    //shades
    $shadow:rgba(10,10,10,0.1);

//widths
    //4k monitor
    //big monitor
    //normal monitor
    //tablet
    //phone
    //mini-phone
