<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>404</title>
</head>
<body>
    <div class="card">
        <h3 class="title">404</h3>
        <div class="message">
            <p>Could not find webpage please check the url</p>
            <ul class="links">
                <a href="/"><li>Home</li></a>
            </ul>
        </div>
    </div>
</body>
</html>