<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>OpenApi</title>
    <link rel="stylesheet" href="../static/css/components/main.css">
    <link rel="stylesheet" href="../static/css/components/navs.css">
    <link rel="stylesheet" href="../static/css/pages/index.css">
</head>
<body>
    <div class="topnav">
        <div class="container">
            <div class="barner">
                <h3 class="barner">OpenAPI</h3>
            </div>
            <ul class="links">
                <a href="genericdata.html"><li>GenericData</li></a>
                <a href="mydb.html"><li>MyDB</li></a>
            </ul>
        </div>
    </div>
    <header class="landing">
        <div class="container"></div>
    </header>
    <section class="full about">
        <div class="container">
            <div class="usecase">
                <h3 class="sub_title">UseCase Title</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, deserunt.</p>
                <!--i.fa.fa-icon-->
            </div>
            <div class="usecase">
                <h3 class="sub_title">UseCase Title</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, deserunt.</p>
                <!--i.fa.fa-icon-->
            </div>
            <div class="usecase">
                <h3 class="sub_title">UseCase Title</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, deserunt.</p>
                <!--i.fa.fa-icon-->
            </div>
            <div class="usecase">
                <h3 class="sub_title">UseCase Title</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, deserunt.</p>
                <!--i.fa.fa-icon-->
            </div>
        </div>
    </section>
    <!--section.quick_start-->
    <div class="footer">
        <div class="container dual_flex">
            <div class="info"><small>Open API</small></div>
            <ul class="links">
                <a href="#"><li>github</li></a>
            </ul>
        </div>
    </div>
</body>
</html>
