<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>OpenApi</title>
    <link rel="stylesheet" href="../static/css/components/main.css">
    <link rel="stylesheet" href="../static/css/components/navs.css">
    <link rel="stylesheet" href="../static/css/pages/index.css">
    <link rel="stylesheet" href="../static/css/all.min.css">
</head>
<body>
    <div class="topnav topnavshow" id="topnav">
        <div class="container">
            <div class="barner">
                <img src="../static/images/logo.png" alt="" class="logo">
                <h3 class="barner">OpenAPI</h3>
            </div>
            <ul class="links">
                <a href="genericdata.html"><li>GenericData</li></a>
                <a href="mydb.html"><li>MyDB</li></a>
            </ul>
        </div>
    </div>
    <header class="landing" style="background-image: url('../static/images/landing_page.png');">
        <div class="container"></div>
    </header>
    <section class="full about">
        <div class="container">
            <h3 class="title">Use Cases</h3>
            <div class="card_container">
                <div class="usecase">
                    <h3 class="sub_title">UseCase Title</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, deserunt.</p>
                    <!--i.fa.fa-icon-->
                </div>
                <div class="usecase">
                    <h3 class="sub_title">UseCase Title</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, deserunt.</p>
                    <!--i.fa.fa-icon-->
                </div>
                <div class="usecase">
                    <h3 class="sub_title">UseCase Title</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, deserunt.</p>
                    <!--i.fa.fa-icon-->
                </div>
                <div class="usecase">
                    <h3 class="sub_title">UseCase Title</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, deserunt.</p>
                    <!--i.fa.fa-icon-->
                </div>
                <div class="usecase">
                    <h3 class="sub_title">UseCase Title</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, deserunt.</p>
                    <!--i.fa.fa-icon-->
                </div>
                <div class="usecase">
                    <h3 class="sub_title">UseCase Title</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, deserunt.</p>
                    <!--i.fa.fa-icon-->
                </div>
            </div>
        </div>
    </section>
    <!--section.quick_start-->
    <section class="full generic_Data">
        <div class="container" id="generic_data_container">
            <h3 class="title">Generic Data</h3>
            <div class="card_container">
                <div class="usecase">
                    <h3 class="sub_title">R_Users</h3>
                    <p class="big_number" data-curr="3450">0</p>
                    <i class="fa fa-user"></i>
                </div>
                <div class="usecase">
                    <h3 class="sub_title">R_Products</h3>
                    <p class="big_number" data-curr="21304">0</p>
                    <i class="fa fa-building"></i>
                </div>
                <div class="usecase">
                    <h3 class="sub_title">R_Bank</h3>
                    <p class="big_number" data-curr="30000">0</p>
                    <i class="fa fa-coins"></i>
                </div>
            </div>
        </div>
    </section>
    <div class="footer">
        <div class="container dual_flex">
            <div class="info"><small>Open API</small></div>
            <ul class="links">
                <a href="#"><li>github</li></a>
            </ul>
        </div>
    </div>
</body>
<script src="../static/js/ui.js"></script>
<script src="../static/js/pages/index.js"></script>
</html>
