*{
    padding:0px;
    margin:0px;
}
a{
    color: currentColor;
    text-decoration: none;
}

header.topnav{
    position: fixed;
    top:0px;left:0px;
    width:100vw;
    padding:10px;
    display: flex;
    justify-content: space-evenly;
}
