*{
    padding:0px;
    margin:0px;
    font-family: Arial;
}
body{
    background:url('./bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;

}
div.topnav{
    position: fixed;
    top:0px;
    left:0px;
    padding:10px;
    width:100vw;
    display: flex;
    align-content: center;
    justify-content: space-around;
    background: rgb(50,50,100);
    color:white;
    z-index: 99;
}
ul.links{
    list-style: none;
    display: flex;
    justify-content: space-between;
    position: relative;
    width:100%;
    li{
        padding:5px;
        margin-left:5px;
    }
}
div.sidemenu{
    position: fixed;
    width: 500px;
    height: 100vh;
    left:0px;
    top:0px;
    background:rgb(230,230,230);
    overflow-x:hidden;
    display: flexbox;
    flex-direction: column;
    z-index: 100;
}
div.glass{
    background: rgba($color: #FFFFFF, $alpha: 0.3);
    backdrop-filter: blur(2px);
    max-width: 200px;
    padding:10px;
    color:white;
    border-radius: 10px;
    transition:1s;
    margin:10px 0px;
}
div.slides{
    padding:10px;
    background-image: url("./bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height:70%;
}
div.slides:hover div.glass{
    //background: rgba($color: #EE09EE, $alpha: 0.3);
    backdrop-filter: blur(10px);
    //transform: translateX(200px);
}
div.top_menu{
    position: relative;
    height:80px;
    width:100%;
    background:rgb(50,50,120);
    padding:10px;
}
div.circle{
    background:purple;
    color:white;
    font-size: 2em;
    padding:5px;
    height:40px;
    width:40px;
    border-radius: 50%;
    box-shadow: 1px 1px 10px 10px rgba($color: #000000, $alpha: 0.05);
    text-align: center;
    font-family: Arial;
}
div.name{
    margin:5px;
    color:white;
    font-size: 1.2em;
}
div#cover{
    position: fixed;
    left:0px;
    top:0px;
    z-index: 10;
    height: 100vh;
    width:100vw;
    background:rgba($color: #000000, $alpha: 0.3);
}

section.landing{
    height:100vh;
}

//landing card
div.box{
    max-width:1000px;
    max-height: 800px;
    position: relative;
}
.center_screen{
    position: relative;
    top:50%;left:50%;
    transform: translate(-50%,-50%);
}
.dual{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.image{
    //position: relative;
    height:100%;
    width:100%;
    background:rgba(215,100,230,.5);
    background-size:contain;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: sticky;
}
.big_card{
    padding:15px;
    text-align: center;
    //filter: blur(10px);
    backdrop-filter: blur(20px);
    background-color: rgba(215,100,230,0.1);
    h1{font-size: 4em;font-weight: lighter;color:whitesmoke;}
    p{font-size: 1.3em;margin-top:20px;color:white;}
}
.card{
    height:100%;
    width:100%;
    padding:10px;
    background:white;
}
p.shadow_text{
    font-size: 1.6em;
    letter-spacing: 0.5em;
    //font-weight: bold;
    color:transparent;
    background-image:url('./bg.jpg');
    text-shadow: 0px 2px 3px gray;
    --webkit-background-clip: text;
    background-clip: text;
    padding:10px;
}

//notification
div.notification{
    position: fixed;
    left:50%;
    top:10px;
    transform: translateX(-50%);
    max-width: 300px;
    max-height: 100px;
    overflow-y:scroll;
    font-size: 1em;
    padding:10px;
    border-radius: 10px;
    animation: 1s notificationshow 0s ease-in-out;
    z-index: 100;
    text-align: center; 
}
div.notification::-webkit-scrollbar{
    width:1px;
}
.error{
    background:crimson;
    color:white;
}
.warning{
    background:orange;
    color:white;
}
.success{
    background:lighten(green,15);
    color:white;
}

@keyframes notificationshow{
    0%{top:-100px;}
    30%{top:50%;}
    100%{top:10px;}
}