*{
    padding:0px;
    margin:0px;
}
body{
    // display: flex;
    // justify-content: center;
    // align-content: center;
    // min-height: 100vh;
    overflow-x:hidden;
}
section.full{
    height:100vh;
    width:100vw;
}
section.landing{
    height:100vh;
    width:100vw;
    background:rgba(10,10,10,0.8);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
div.image{
    position: absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    transition:clip-path 1s;
}
.one{
    background:rgba(10,10,10,0.8);
    clip-path: polygon(0 0,55% 0,20% 100%,0% 100%);
}
.two{
    background:rgba(10,10,10,0.8);
    clip-path: polygon(55% 0, 100% 0,45% 100%,20% 100%);
}
.three{
    background:rgba(10,10,10,0.8);
    clip-path: polygon(100% 0%,100% 0,100% 100%,45% 100%);
}
div.message{
    display: none;
    opacity: 0;
}
div.image:hover div.message{
    opacity: 1;
    display: block;
    padding:10px;
    background:white;
    position: relative;
    width:100%;
    font-size: 30px;
    transition:1s;
    animation: 1s show 0s ease-in-out;
}
section.landing:hover div.image{
    clip-path: polygon(100% 0,100% 0,100% 100%,100% 100%);
}
section.landing div.image:hover{
    clip-path: polygon(0 0,100% 0,100% 100%,0% 100%);
}
div.content{
    position: relative;
    max-width: 1000px;
    left:50%;
    transform: translateX(-50%);
    transition:1s;
    padding:20px 0px;
}
h3.header{
    padding:10px;
    font-weight: lighter;
    font-size: 30px;
    position: sticky;
    color: rgb(50,50,50);
    letter-spacing: 2px;
}
h3.header::after{
    content:"";
    background:white;
    position: relative;
    height:5px;
    width:170px;
    display: block;
    border-radius: 5px;
}
div.split_content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    div.side_image{
        overflow: hidden;
        clip-path: polygon(0 100%,100% 0%,0 0%,0% 0%);
        transition:1s;
    }
    img{
        position: relative;
        height:auto;
        width:100%;
    }
}
p{
    padding:10px;
    font-family: Arial;
    letter-spacing: 1px;
    line-height: 20px;
    font-weight: lighter;
}
div.content:hover div.side_image{
    //clip-path: polygon(0 100%,100% 0%,0% 0%,100% 0%);
    clip-path: polygon(0 0,100% 0,100% 100%,0% 100%);
}
div.content:hover h3.header{
    color:lightgray;
}
div.content:hover p{
    color:whitesmoke;
}
section.animated{
    transition:1s;
}
section.animated:hover{
    background:rgba(10,10,10,0.8);
}


.slide_in{
    //opacity: 0;
    position: relative;
    animation: 1s slide_in 0s ease-in;
}
.slide_out{
    left:100%;
    position: relative;
    animation: 1s slide_out 0s ease-out;
}
@keyframes slide_in{
    from{
        opacity: 0;
        left:-100%;
    }
    to{
        opacity: 1;
        left:0px;
    }
}
@keyframes slide_out{
    from{
        opacity: 1;
        left:0px;
    }
    to{
        opacity: 0;
        left:200%;
    }
}

@keyframes show{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}